<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067372164024-j9r3uqmnit7aksnhfnda6m35m4c7i7nb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067372164024-j9r3uqmnit7aksnhfnda6m35m4c7i7nb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1067372164024-8cgiuqan6aoq89ll038ii49qsljblvf2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAVZjf4WLfeidwl-3WoBx-xsFp22aPvFY</string>
	<key>GCM_SENDER_ID</key>
	<string>1067372164024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msf.msf</string>
	<key>PROJECT_ID</key>
	<string>medical-support-finder</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-support-finder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067372164024:ios:e09f340ae9ebad1a25554d</string>
</dict>
</plist>